<html ng-app="AssetsWebsite">
<head>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Our styles -->
<link rel="stylesheet" href="css/styles.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">

<!-- Javascript Libraries -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="scripts/angular/angular.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<!-- Our JavaScript -->
<script src="js/application.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>

</head>

<body ng-controller="LoginController">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <h1 class="centered">Admin Login</h1>

                <div class="col-md-2"></div>
                  <div class="col-md-8">

                    <form class="input-group">
                      <div class="row rowWithBottomMargin">
                        <div class="col-md-2"></div>
                        <div class="col-md-12">
                          <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">Username</span>
                            <input type="text" class="form-control" placeholder="username" aria-describedby="basic-addon1" ng-model="username">
                          </div>
                        </div>
                      </div>

                      <div class="row rowWithBottomMargin">
                        <div class="col-md-2"></div>
                        <div class="col-md-12">
                          <div class="input-group">
                      			<span class="input-group-addon" id="basic-addon1">Password</span>
                      			<input type="password" class="form-control" placeholder="password" aria-describedby="basic-addon1" ng-model="password">
                      		</div>
                        </div>
                        <div class="col-md-2"></div>
                      </div>

                      <div class="row rowWithBottomMargin">
                        <div class="col-md-2"></div>
                        <div class="cold-md-8">
                          <a class="btn btn-primary btn-block btn-lg" ng-click="login()">Login</a>
                        </div>
                        <div class="col-md-2"></div>
                    </form>
                  </div>
                <div class="col-md-2"></div>
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
</body>

</html>
